<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>Modifier mon profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="play1" style="margin-top: 20px;">
        <img src="../../assets/images/profile.png" class="rounded-circle im" width="100" height="100">
        <br>
        <!-- <h6 style="color: cornflowerblue; font-size: 20px;">DIPA</h6> -->
        <br/>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="updateUser()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item no-lines class="genre">
                        <ion-label style="color:black;">Nom:</ion-label>
                        <!-- <ion-icon slot="end" name="person"></ion-icon> -->
                        <ion-input type="text"  [(ngModel)]="loadData.nom" formControlName="nom" style="color: black;font-weight: bold;"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                  <ion-item no-lines class="genre">
                      <ion-label style="color:black;">Prénom:</ion-label>
                      <!-- <ion-icon slot="end" name="person"></ion-icon> -->
                      <ion-input type="text"  [(ngModel)]="loadData.prenom" formControlName="prenom" style="color: black;font-weight: bold;"></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
                <ion-item no-lines class="genre">
                    <ion-label style="color:black;">Téléphone:</ion-label>
                    <!-- <ion-icon slot="end" name="person"></ion-icon> -->
                    <ion-input type="text"  [(ngModel)]="loadData.telephone" formControlName="telephone" style="color: black;font-weight: bold;"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item no-lines class="genre">
                       <ion-label style="color:black;">Email:</ion-label>
                        <ion-input type="email" [(ngModel)]="loadData.email" formControlName="email" style="color: black; font-weight: bold;"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <div>
              <br>
             <ion-button color="primary" expand="full" type="submit">
                <ion-icon name="log-in-outline"></ion-icon>
                 <span>MODIFIER</span>
                </ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>



