<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-title class="text-white" style="font-size: 14px;">
            Bienvenue, {{nom}} {{prenom}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <div>
        <div>
            <ion-card-header><h5>Informations <br>personnelles</h5></ion-card-header>
            <ion-card-content>
                <ion-avatar class="cAvatar">
                    <img class="cImage" src="../../assets/images/profile.png">
                    <ion-icon class="cIcone" name="camera-outline"></ion-icon>
                </ion-avatar>
                <ion-grid>
                    <ion-row class="cName">
                        <ion-col size="7">
                            <h2><b>{{nom}} {{prenom}}</b></h2>
                        </ion-col>
                        <ion-col>
                            <ion-buttons>
                                <span (click)="goToChangeProfil()">
                                    <div><ion-icon color="monvert" name="pencil-sharp"></ion-icon></div>
                                </span>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </div>

    </div>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classCard">
                <span style="font-weight: bold;">
                    {{email}}
                </span>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="text-center classCard">
                <span style="font-weight: bold;">
                    {{telepohne}}
                </span>
            </ion-card>
        </ion-col>
    </ion-row>

    <br>

    <ion-item lines="none" (click)="goToChangeProfil()">
        <h6>Modifier mon profil</h6>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="goToChangePassword()">
        <h6>Modifier mon mot de passe</h6>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <!--    <ion-item lines="none">-->
    <!--        <h6>Passer en mode dark</h6>-->
    <!--        <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>-->
    <!--    </ion-item>-->
    <ion-item (click)="logOut()" lines="none">
        <h6>Déconnexion</h6>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

</ion-content>
