<ion-content>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form [formGroup]="userForm" (ngSubmit)="login1()">
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="end" name="person"></ion-icon>
            <ion-input type="text"  formControlName="login" required="" name="" placeholder="login"></ion-input>
          </ion-item>
          <br>
          <ion-item class="ion-margin-bottom">
            <ion-icon slot="end" name="key"></ion-icon>
            <ion-input type="password" formControlName="password" required="" placeholder="mot de passe" required="" name=""></ion-input>
          </ion-item>
          <p></p>
          <br>
          <ion-button expand="block" type="submit" shape="round">Connexion</ion-button>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h1>Orbus DIPA</h1>
          <br>
        </div>
        <img src="assets/images/logodipa.jpg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
