<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-back-button slot="start" color="white" defaultHref="/tabs/home"></ion-back-button>
        <ion-title class="text-white">Demande traitées sur les article</ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon  name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classSelect">
                <ion-item>
                    <ion-label>Choisir un chapitre</ion-label>
                    <ion-select  [(ngModel)]="loadData.code" required="" name="code" type="text">
                        <ion-select-option  value="00">00</ion-select-option>
                        <ion-select-option  value="01">01</ion-select-option>
                        <ion-select-option  value="02">02</ion-select-option>
                        <ion-select-option  value="03">03</ion-select-option>
                        <ion-select-option  value="04">04</ion-select-option>
                        <ion-select-option value="05">05</ion-select-option>
                        <ion-select-option value="06">06</ion-select-option>
                        <ion-select-option value="07">07</ion-select-option>
                        <ion-select-option value="08">08</ion-select-option>
                        <ion-select-option value="09">09</ion-select-option>
                        <ion-select-option value="10">10</ion-select-option>
                        <ion-select-option value="11">11</ion-select-option>
                        <ion-select-option value="12">12</ion-select-option>
                        <ion-select-option value="13">13</ion-select-option>
                        <ion-select-option value="14">14</ion-select-option>
                        <ion-select-option value="15">15</ion-select-option>
                        <ion-select-option value="16">16</ion-select-option>
                        <ion-select-option value="17">17</ion-select-option>
                        <ion-select-option value="18">18</ion-select-option>
                        <ion-select-option value="19">19</ion-select-option>
                        <ion-select-option value="20">20</ion-select-option>
                        <ion-select-option value="21">21</ion-select-option>
                        <ion-select-option value="22">22</ion-select-option>
                      </ion-select>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

    <div class="bouton">
        <ion-button color="primary" expand="full" (click)="parametrer()"><span>Afficher</span></ion-button>
       </div>

    <ion-row class="classAlign">
        <ion-col size="8" [ngClass]="getTextColor('text1')" (click)="setSelectedText('text1')">
            <span>Soumises</span>
        </ion-col>
        <ion-col size="4" [ngClass]="getTextColor('text2')" (click)="setSelectedText('text2')">
            <span>Traitées</span>
        </ion-col>
        <!-- <ion-col [ngClass]="getTextColor('text3')" (click)="setSelectedText('text3')">
            <span>Graphique</span>
        </ion-col> -->
    </ion-row>

    <div *ngIf="selecteTextId === 'text1'">
        <table class="table table-striped table-bordered" style="margin-left: auto; margin-right: auto;" *ngIf='data'>
            <thead style="text-align: center;">
              <tr>
                <th>Période</th>
                <th>Articles </th>
                <th>Total Demandes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let d of data" style="text-align:right;">
                <td>
                  <span style="color: black; font-size: 12px; font-weight: bold;"> {{mois[d.periode-1]}}</span></td>
                  <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{d.pays}}</span></td>
                <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{d.count}}</span></td>
                <td><ion-icon name="search-outline" (click)="open(d.pays)"></ion-icon></td>
               </tr>
            </tbody>
          </table>
    </div>

    <div *ngIf="selecteTextId === 'text2'">
        <table class="table table-striped table-bordered" style="margin-left: auto; margin-right: auto;"  *ngIf='valeurs'>
            <thead style="text-align: center;">
              <tr>
                <th>Période</th>
                <th>Articles</th>
                <th>total Demandes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let v of valeurs" style="text-align:right;">
                <td>
                  <span style="color: black; font-size: 12px; font-weight: bold;"> {{mois[v.periode-1]}}</span></td>
                  <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{v.pays}}</span></td>
                <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{v.count}}</span></td>
                <td><ion-icon name="search-outline" (click)="open(v.pays)"></ion-icon></td>
               </tr>
            </tbody>
          </table>
    </div>

    <div *ngIf="selecteTextId === 'text3'">

    </div>


</ion-content>
