<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-back-button slot="start" color="white" defaultHref="/tabs/home"></ion-back-button>
        <ion-title class="text-white">Performance comparée</ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon  name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classSelect">
                <ion-item>
                    <ion-row>
                        <span>Année 1: </span>
                    </ion-row>
                    <ion-row>
                        <ion-input type="text"  [(ngModel)]="loadData.annee1" required="" name="annee1"></ion-input>
                    </ion-row>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classSelect">
                <ion-item>
                    <ion-row>
                        <span>Année 2: </span>
                    </ion-row>
                    <ion-row>
                        <ion-input type="text"  [(ngModel)]="loadData.annee2" required="" name="annee2"></ion-input>
                    </ion-row>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

    <div class="bouton">
        <ion-button color="primary" expand="full" (click)="parametrer1()"><span>Afficher</span></ion-button>
       </div>

    <ion-row class="classAlign">
        <ion-col size="4" [ngClass]="getTextColor('text1')" (click)="setSelectedText('text1')">
            <span>Volume</span>
        </ion-col>
        <ion-col size="4" [ngClass]="getTextColor('text1')" (click)="setSelectedText('text3')">
            <span>CA</span>
        </ion-col>
        <ion-col size="4" [ngClass]="getTextColor('text2')" (click)="setSelectedText('text2')">
            <span>Graphique</span>
        </ion-col>
    </ion-row>

    <div *ngIf="selecteTextId === 'text1'">
        <table class="table table-striped table-bordered" style="margin-left: auto; margin-right: auto;" *ngIf="data">
            <thead style="text-align: center;">

              <tr>
                <th>Mois</th>
                <th>Volume demandes</th>
                <th>Années</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data">
                <td style="text-align: center;">{{mois[d.Periode-1]}}</td>
                <td style="text-align: center;">
                  <span style="color: black; font-size: 12px; font-weight: bold;"> {{d.count}}</span></td>
                <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{d.annee}}</span></td>
              </tr>
            </tbody>
          </table>
    </div>

    <div *ngIf="selecteTextId === 'text3'">
        <table class="table table-striped table-bordered" style="margin-left: auto; margin-right: auto;" *ngIf="valeurs">
            <thead style="text-align: center;">

              <tr>
                <th>Mois</th>
                <th>Valeurs(CFA)</th>
                <th>Année</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of valeurs">
                <td style="text-align: center;">{{mois[v.Periode-1]}}</td>
                <td style="text-align: right;">
                  <span style="color: black; font-size: 11.5px; font-weight: bold;"> {{numStr(v.total,' ')}}</span></td>
                <td style="text-align: center;"><span style="color: black; font-size: 12px; font-weight: bold;">{{v.annee}}</span></td>
              </tr>
            </tbody>
          </table>
    </div>

    <div *ngIf="selecteTextId === 'text2'">
        <ion-card>
            <ion-list>
                <ion-item>
                 <span>Volume ou CA</span>
                 <ion-toggle [(ngModel)]="pepperoni" color="primary" slot="end" (ionChange)="change()"></ion-toggle>
                </ion-item>
              </ion-list>
            <ion-card-header></ion-card-header>
            <ion-card-content>
                <div [chart]="chartOptions" style="width:80%; height:390px;margin:auto;"></div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>
